<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".UniStayApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniStay"
        android:usesCleartextTraffic="true"> <!-- ĐÃ THÊM DÒNG NÀY ĐỂ CHO PHÉP GỌI API HTTP -->

        <activity
            android:name=".presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Màn hình chi tiết phòng trọ -->
        <activity
            android:name=".presentation.home.RoomDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.profile.MyRoomsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".presentation.search.SearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.search.SearchFilterActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <!-- Các activity xác thực -->
        <activity
            android:name=".presentation.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.auth.TermsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.profile.SavedRoomsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.profile.ViewHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.profile.SettingsActivity"
            android:exported="false" />
    </application>

</manifest>